.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.map-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.chart-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgba(30, 30, 30, 0.8);
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  height: 100%;
  overflow-y: auto;
}

.filters {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  gap: 10px;
}

/* Mobile responsiveness */
@media (max-width: 1200px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .map-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 500px;
  }

  .chart-container {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: auto;
  }

  .filters {
    flex-wrap: wrap;
  }
}
